[alias]
	ls = log --oneline
	pp = !git pull --rebase && git fetch -p
	po = !git push -u origin @
	caa = commit -a --amend -C @
	last = log -1 @ --stat
	lc = config --local -l
	cd = "!f() {\
		git checkout $(git branch -a | fzf | perl -pe 's/\\w*\\/\\w*\\///'); \
	}; f"
	rmb = "!f() {\
		git branch -D $(git branch -a | fzf -m | perl -pe 's/\\w*\\/\\w*\\///'); \
	}; f"
	rmm = "!f() {\
		git branch --merged @ | grep -v $(git branch --show-current) | xargs -r git branch -d; \
	}; f"
	hd = "!f() {\
		git diff $(git ls | fzf | awk '{print $1}'); \
	}; f"
	rsh = "!f() {\
		git reset $(git ls | fzf | awk '{print $1}'); \
	}; f"
	rih = "!f() {\
		git rebase -i $(git ls | fzf | awk '{print $1}'); \
	}; f"
	rvh = "!f() {\
		git revert $(git ls | fzf | awk '{print $1}'); \
	}; f"
	playground = "!f() {\
		echo -e '\\x1b[1;33minitialized git playground\\x1b[0m'; \
		git init -q playground; \
		git init -q --bare local-remote; \
		git -C playground remote add origin ../local-remote; \
	}; f"
[user]
	email = Wan.WanAhmed@theaccessgroup.com
	name = wkf-unleashed
[merge]
	ff = false
[core]
	longpass = true
	autocrlf = true
[pull]
	rebase = true
[rebase]
	autostash = true
